@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-bg: #f6f7f2;
    --secondary-bg: #a5b5c4;
    --primary-txt: #0a1944;
    --secondary-txt: #3c4e6d;
    --border-clr : rgba(119, 119, 119, 0.349);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    background-color: var(--primary-bg);
    color: var(--primary-txt);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header start here */

.header {
    padding: 1em 0;
    border-bottom: 1px solid var(--border-clr);
}

.header .logo h1, .header .logo a {
    color: var(--primary-txt);
    text-decoration: none;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: .1em;
}

.header .logo span {
    display: block;
    font-size: 1.25rem;
    letter-spacing: 0;
    font-weight: 300;
}

.nav-toggler button {
    font-size: 2rem;
    padding: .1em .2em;
    border-radius: 3px;
    border: 1px solid var(--border-clr);
    background-color: var(--secondary-bg);
    color: var(--primary-txt);
    cursor: pointer;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* FOOTER starts here */
.footer {
    background: var(--primary-bg);
    padding: 1em;
}

.footer .footer-part-1 {
    margin-bottom: 1em;
    width: fit-content;
}

.footer .logo h1, .footer .logo a {
    color: var(--primary-txt);
    text-decoration: none;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: .1em;
}

.footer .logo span {
    display: block;
    font-size: 1.25rem;
    letter-spacing: 0;
    font-weight: 300;
}

.footer .footer-part-2 {
    font-size: 1rem;
    letter-spacing: .1em;
    line-height: 30px;
    margin-bottom: 1.5em;
    width: fit-content;
}

.footer .footer-part-3 {
    width: fit-content;
    font-size: .9rem;
    letter-spacing: .1em;
}

.footer > div {
    margin-left: auto;
    margin-right: auto;
} 

@media (min-width: 800px) {
    .footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .footer-part-1, .footer-part-2 {
        width: auto !important;
    }

    .footer-part-3 {
        width: 100% !important;
        text-align: center;
        margin-top: 1em;
    }
    
}